<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/publicIdea.css">
  <title>Gainen - where ideas come to life</title>
</head>

<body>
  <header>
    <div class="logo">
      <h2 class="title">Gainen</h2>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/adminPublicIdea">All Ideas</a></li>
        <li><a href="/privateIdea">Private Ideas</a></li>
        <li><a href="/adminprofile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </header>
  <main class="">
    <div class="displayIdea">
      <p class="page-heading">Public Ideas</p>
        <% ideas.reverse().forEach(function(ideas){
          if(ideas.isPostOnPublic==true){
        %>
        <div class="idea-container">
          <h3 class="user-name">
            <a href="mailto:abhishek@gmail.com?subject=Regarding%20idea&body=Lets%20meet%20at%202%3A00%20PM"><%= ideas.username %></a>           
          </h3>
          <h1 class="idea-title">
            <%= ideas.title %>
          </h1>
          <p class="date-string">
            <%= ideas.ideaDate %>
          </p>
          <p class="idea-desc">
            <%= ideas.idea %>
          </p>
          <!-- <button type="button" class="like-button" onclick="doLike();">Like it</button>
          <span style="color: white;" id="likes"><%= ideas.likesCount %></span> -->
          <%
            if(ideas.adminLikeName.includes(adminName)){
              %>
              <button onclick="actOnPost(event);" data-post-id="<%= ideas._id %>">Unlike</button>
              <%
            }
            else{
              %>
              <button onclick="actOnPost(event);" data-post-id="<%= ideas._id %>">Like</button>
              <%
            }
          %>
          
          <span style="color: white;" id="likes-count-<%= ideas._id %>"><%= ideas.likesCount %></span>
        </div>
        <%
          }
        });
        %>
    </div>
  </main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      var updatePostStats = {
          Like: function (postId) {
              document.querySelector('#likes-count-' + postId).textContent++;
          },
          Unlike: function(postId) {
              document.querySelector('#likes-count-' + postId).textContent--;
          }
      };

      var toggleButtonText = {
          Like: function(button) {
              button.textContent = "Unlike";
          },
          Unlike: function(button) {
              button.textContent = "Like";
          }
      };

      var actOnPost = function (event) {
          var postId = event.target.dataset.postId;
          var action = event.target.textContent.trim();  
          toggleButtonText[action](event.target);
          updatePostStats[action](postId);
          axios.post('/posts/' + postId + '/act', { action: action });
      };
  </script>

</body>
</html>