<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/profile.css">
  <title>Gainen - Delete Profile</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/" class="title">
        <h2>Gainen</h2>
      </a>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/postIdea">Create Idea</a></li>
        <li><a href="/publicIdea">All Ideas</a></li>
        <li><a href="/userprofile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </header>
  <p class="profileHeading">Delete Profile</p>
  
  <aside class="left">
    <div class="labelTable delProfile">
      <p class="para">
        This is an awesome platform to fund your ideas, but still if you would like to delete your profile we assure you
        that the following details would be deleted from our database:
      </p>
      <form method="POST" action="" class="delProfileForm" name="deleteProfile">
        <table>
          <tr>
            <td><label for="username">Username: </label></td>
            <td><label>
                <%= username %>
              </label></td>
          </tr>
          <tr>
            <td><label for="firstname">First Name: </label></td>
            <td><label>
                <%= firstName %>
              </label></td>
          </tr>
          <tr>
            <td><label for="lastname">Last Name: </label></td>
            <td><label>
                <%= lastName %>
              </label></td>
          </tr>
          <tr>
            <td><label for="emailId">Email Id: </label></td>
            <td><label>
                <%= emailId %>
              </label></td>
          </tr>
          <tr>
            <td><label for="phone">Phone: </label></td>
            <td><label>
                <%= phone %>
              </label></td>
          </tr>
        </table>
        <p>Are you sure you want to delete your profile, <%= username %>?</p><br>
        <button class="del-btn" type="submit">Delete Profile</button>
      </form>
    </div>
  </aside>
  <main class="right">
    <div class="profileImg">
      <img src="/profile_pics/<%= profilePicName %>" alt="Profile Pic" width="250px" height="250px">
    </div>
  </main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>