<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Gainen - Ideas Meet</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Gainen</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/postIdea">Create Idea</a></li>
          <li><a href="/publicIdea">All Ideas</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
  </nav>
    <h2>Private Idea</h2>
  </header>
  
  <main>
    <% ideas.reverse().forEach(function(ideas){ 
          if(ideas.isPostOnPublic == false){
    %>
        <h3><%= ideas.username %></h3>
        <h4><%= ideas.title %></h4>
        <p><%= ideas.ideaDate %></p>
        <p><%= ideas.idea %></p>

    <%
          }
        });
    %>
  </main>
</body>

<%- include('layouts/footer') -%>

</html>